/* simple reset, project-wide font and color settings*/
:root {
  --color-background: rgb(206, 4, 112);
  --color-primary: rgb(0, 0, 0);
  --color-accent: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;

  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*////////////////////////////////*/
/*CONTAINER*/
.container {
  max-width: 120rem;

  display: flex;
}

/*////////////////////////////////*/
/*PHOTO*/
.photo {
  flex: 0 0 40%;
  background-color: var(--color-primary);
  background-image: url(img/img-medium.jpg);
  background-size: cover;
  background-position: center;
}

/*////////////////////////////////*/
/*FORMS*/
.form {
  background-color: var(--color-background);
  color: var(--color-primary);
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.form__field-box {
  display: flex;
  flex-wrap: wrap;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  text-transform: lowercase;
}

.form__input {
  padding: 1rem 2.5rem;
  border: none;
  font-size: 1.5rem;
}

.form__input:focus {
  outline: 3px solid black;
}

/*////////////////////////////////*/
/*SIGN-UP FORM*/
/* form-specific layout */

.form__sign-up {
  gap: 1.5rem;
  padding: 7rem 7rem 2rem 7rem;
}

.form__sign-up .form__field-box {
  flex: 1;
  align-content: space-evenly;
  justify-content: center;
  gap: 1rem;
}

.form__sign-up .form__field {
  width: 45%;
}

/*////////////////////////////////*/
/*LOG-IN FORM*/
/* form-specific layout */

.form__log-in {
  padding: 10rem 7rem 4rem 7rem;
}

.form__log-in .form__field-box {
  align-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form__log-in .form__field {
  width: 55%;
}

.form__log-in .form__button {
  margin-top: 4rem;
}

.form__log-in .form__instructions {
  margin-bottom: 4rem;
}

/*////////////////////////////////*/
/*FORM TEXT*/
.form__heading {
  font-size: 4rem;
  font-weight: 700;
}

.form__instructions {
  font-size: 1.75rem;
  font-weight: 400;
}

.form__link-text {
  align-self: flex-end;
}

/*////////////////////////////////*/
/*FORM LINKS*/

.form__link:link,
.form__link:visited {
  color: var(--color-accent);
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
}

.form__link:hover,
.form_link:active {
  font-weight: 700;
  transform: scale(1.05);
}

.form__link:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.link__password {
  align-self: flex-end;
  padding: 1.5rem 0 0.5rem 0;
}

/*////////////////////////////////*/
/*SUBMIT BUTTON*/

.form__button {
  font-size: 2rem;
  font-weight: 200;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-accent);
  width: 20rem;
  height: 4rem;
  cursor: pointer;
  align-self: flex-end;
}

.form__button-text {
  display: inline-block;
  transition: transform 0.2s;
}

.form__button:focus {
  outline: 2px solid white;
}

.form__button:hover .form__button-text,
.form__button:active .form__button-text {
  transform: scale(1.1);
}

/*////////////////////////////////*/
/*CHECKBOX BUTTON*/

.form__checkbox {
  position: relative;
}

.form__checkbox-input {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.form__checkbox-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem;
  display: flex;
  align-items: center;
}

.form__checkbox-label:focus {
  outline: 1px solid black;
}

.form__checkbox-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 2.5px solid rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}

.form__checkbox-button::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.2s;
}

.form__checkbox-input:checked
  + .form__checkbox-label
  .form__checkbox-button::after {
  opacity: 1;
}

.form__checkbox-input:focus + .form__checkbox-label {
  font-weight: 700;
}

/*////////////////////////////////*/
/*MEDIA QUERIES*/

/* 1600px+ */
@media only screen and (min-width: 100em) {
  html {
    font-size: 75%;
  }
}

/* 1200px  */
@media only screen and (max-width: 75em) {
  .container {
    flex-direction: column;
    flex: 0 0 95%;
    height: 95%;
  }

  .photo {
    flex: 0 0 50%;
  }
}

/* 700px */
@media only screen and (max-width: 43.75em) {
  .container {
    height: 100vh;
  }

  .photo {
    flex: 0 0 25%;
  }

  .form__field-box {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .form__sign-up .form__field {
    width: 60%;
  }

  .form__sign-up .form__field-box {
    align-content: space-evenly;
  }
}

/* 550px */
@media only screen and (max-width: 34.375em) {
  html {
    font-size: 56.25%;
  }

  .container {
    flex: 0 0 100%;
  }

  .photo {
    flex: 0 0 20%;
    max-width: 100%;
  }

  .form__checkbox-label {
    margin-bottom: 3rem;
  }

  .form__sign-up .form__field {
    width: 70%;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .form__sign-up {
    align-items: center;
    padding: 1rem;
  }

  .form__sign-up .form__field {
    width: 100%;
  }

  .form__sign-up .form__button,
  .form__sign-up .form__link-text {
    align-self: center;
  }
}
